<h1>Registrar Libro</h1>
<h2>Datos del Libro</h2>
<div class="cuadro">
    <input class="theme" type="text" #isbn placeholder="ISBN">
    <input class="theme" type="number" #quantity placeholder="Cantidad">
    <button class="center" (click)="check(isbn.value,quantity.value)">Registrar</button>
</div>
<div *ngIf="exist">
    <h3>El libro no existe por favor llene los Datos</h3>
    <div class="formulario">
        <form>
            <input class="theme" type="text" #title placeholder="Titulo">
            <input class="theme" type="text" #autor placeholder="Autor">
            <input class="theme" type="number" step="any" #price placeholder="Precio">
            <input class="theme" type="number" #edition placeholder="Edicion">
            <button class="center" type="reset"
                (click)="register(title.value,autor.value,isbn.value,price.value,edition.value,quantity.value)">Registrar</button>
        </form>
    </div>
</div>

<button class="edit" (click)="edit()">Editar Libro</button>