<app-nav-bar></app-nav-bar>
<h1>Reemplazos y Reposiciones</h1>
<h2>Datos de Excepcion</h2>
<div class="formulario">
    <label class="theme">Asignacion:
        <select class="theme" #asignID>
            <option *ngFor="let asignacion of asignaciones" [value]="asignacion.asignacionID">
                {{asignacion.grupo}}-{{asignacion.materia}}-{{asignacion.pName}} {{asignacion.apellidoP}}</option>
        </select>
    </label>
    <label class="theme">Profesor:
        <mat-form-field class="searchw">
            <input class="search" type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option}}</mat-option>
        </mat-autocomplete>
    </label>
    <label class="theme">Tipo:
        <select class="theme" #tipo>
            <option value="RM">Reemplazo</option>
            <option value="RP">Reposicion</option>
        </select>
    </label>
    <label class="theme">Poner tiempos</label>
    <input type="checkbox" [(ngModel)]="tiempos" (click)="checkTiempos()">
    <div id="seccion">
        <mat-form-field>
            <input class="calendar" matInput [matDatepicker]="fini" placeholder="Fecha Inicio" [(ngModel)]="fecha"
                [ngModelOptions]="{standalone: true}">
            <mat-datepicker-toggle matSuffix [for]="fini"></mat-datepicker-toggle>
            <mat-datepicker #fini></mat-datepicker>
        </mat-form-field>
        <input type="time" class="theme" value="08:00" #hora>
    </div>
    <button *ngIf="tiempos" class="center" type="reset" (click)="register(asignID.value,tipo.value,hora.value)">Registrar</button>
    <button *ngIf="!tiempos" class="center" type="reset" (click)="register(asignID.value,tipo.value,hora.value)">Registrar</button>
</div>