<app-nav-bar></app-nav-bar>
<h1>Reemplazos y Reposiciones</h1>
<h2>Datos de Excepcion</h2>
<div class="formulario">
    <label class="theme">Asignacion:
        <select class="theme" #asignID>
            <option *ngFor="let asignacion of asignaciones" [value]="asignacion.asignacionID">
                {{asignacion.grupo}}-{{asignacion.materia}}-{{asignacion.pName}} {{asignacion.apellidoP}}</option>
        </select>
    </label>
    <label class="theme">Profesor:
        <mat-form-field class="searchw">
            <input class="search" type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option}}</mat-option>
        </mat-autocomplete>
    </label>
    <label class="theme">Tipo:
        <select class="theme" #tipo>
            <option value="RM">Reemplazo</option>
            <option value="RP">Reposicion</option>
        </select>
    </label>
    <label class="theme">Poner tiempos</label>
    <input type="checkbox" [(ngModel)]="tiempos" (click)="checkTiempos()">
    <div id="seccion">
        <input class="theme" [(ngModel)]="fecha" [ngModelOptions]="{standalone: true}" [owlDateTimeTrigger]="fe" [owlDateTime]="fe" placeholder="Fecha" readonly>
        <owl-date-time [pickerType]="'calendar'" #fe></owl-date-time>
        <input class="theme" [(ngModel)]="hora" [ngModelOptions]="{standalone: true}" [owlDateTimeTrigger]="ho" [owlDateTime]="ho" placeholder="Hora" readonly>
        <owl-date-time [pickerType]="'timer'" #ho></owl-date-time>
    </div>
    <button *ngIf="tiempos" class="center" type="reset"
        (click)="register(asignID.value,tipo.value)">Registrar</button>
    <button *ngIf="!tiempos" class="center" type="reset"
        (click)="register(asignID.value,tipo.value)">Registrar</button>
</div>