<app-nav-bar></app-nav-bar>
<h1>Editar Profesor</h1>
<h2>Datos del Profesor</h2>
<div class="formulario">
    <form>
        <input class="theme" type="text" #name value={{profesor.nombre}} placeholder="Nombre">
        <input class="theme" type="text" #lastNameP value={{profesor.apellidoP}} placeholder="Apellido Paterno">
        <input class="theme" type="text" #lastNameM value={{profesor.apellidoM}} placeholder="Apellido Materno">
        <input class="theme" type="text" #username value={{profesor.codigo}} placeholder="Codigo Usuario">
        <input class="theme" [owlDateTimeTrigger]="fecha" [owlDateTime]="fecha" value={{profesor.fechaC}}
            placeholder="Fecha Contratacion" readonly>
        <owl-date-time [pickerType]="'calendar'" #fecha></owl-date-time>
        <button class="center"
            (click)="edit(name.value,lastNameP.value,lastNameM.value,username.value,fecha._selected)">Editar</button>

    </form>
</div>