<h1>Asignar</h1>
<h2>Datos de Asignacion</h2>
<div>
    <select #profID>
            <option *ngFor="let profesor of profesors" [value]="profesor.profesorID">{{profesor.codigo}}</option> 
    </select>
    <br>
    <select #matID>
            <option *ngFor="let materia of materias" [value]="materia.materiaID">{{materia.nombre}}</option> 
    </select>
    <br>
    <select #groupID>
            <option *ngFor="let grupo of grupos" [value]="grupo.grupoID">{{grupo.nombre}}</option> 
    </select>
    <br>
    <input [owlDateTimeTrigger]="finicio" [owlDateTime]="finicio" placeholder="Fecha Inicio" readonly>
    <owl-date-time [pickerType]="'calendar'" #finicio></owl-date-time>
    <br>
    <input [owlDateTimeTrigger]="ffin" [owlDateTime]="ffin" placeholder="Fecha Fin" readonly>
    <owl-date-time [pickerType]="'calendar'" #ffin></owl-date-time>
    <br>
    <button (click)="register(profID.value)" >Registrar</button>
</div>
