<app-nav-bar></app-nav-bar>
<h1>Asignar</h1>
<h2>Datos de Asignacion</h2>
<div class="formulario">
    <form>
        <label class="theme">Profesor:
            <mat-form-field class="searchw">
                <input class="search" type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option}}</mat-option>
            </mat-autocomplete>
        </label>
        <br>
        <label class="theme">Materia:
            <select class="theme" #matID>
                <option *ngFor="let materia of materias" [value]="materia.materiaID">{{materia.nombre}}</option>
            </select>
        </label>
        <br>
        <label class="theme">Grupo
            <select class="theme" #groupID>
                <option *ngFor="let grupo of grupos" [value]="grupo.grupoID">{{grupo.nombre}}</option>
            </select>
        </label>
        <br>
        <mat-form-field>
            <input class="calendar" matInput [matDatepicker]="fini" placeholder="Fecha Inicio" [(ngModel)]="fi"
                [ngModelOptions]="{standalone: true}">
            <mat-datepicker-toggle matSuffix [for]="fini"></mat-datepicker-toggle>
            <mat-datepicker #fini></mat-datepicker>
        </mat-form-field>
        <input type="time" class="theme" value="08:00" #hi>
        <br>
        <mat-form-field>
            <input class="calendar" matInput [matDatepicker]="ffin" placeholder="Fecha Fin" [(ngModel)]="ff"
                [ngModelOptions]="{standalone: true}">
            <mat-datepicker-toggle matSuffix [for]="ffin"></mat-datepicker-toggle>
            <mat-datepicker #ffin></mat-datepicker>
        </mat-form-field>
        <input type="time" class="theme" value="08:00" #hf>
        <button class="center" type="reset" (click)="register(matID.value,groupID.value,hf.value,hi.value)">Registrar</button>
    </form>
</div>
<br>
<div>
    <button class="edit" (click)="edit()">Editar Asignacion</button>
</div>