<app-nav-bar></app-nav-bar>
<h1>Asignar</h1>
<h2>Datos de Asignacion</h2>
<div>
    <label>Profesor:
        <mat-form-field>
            <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
        </mat-form-field>          
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option}}</mat-option>
        </mat-autocomplete>

    </label>
    <br>
    <label>Materia: 
        <select #matID>
                <option *ngFor="let materia of materias" [value]="materia.materiaID">{{materia.nombre}}</option> 
        </select>
    </label>
    <br>
    <label>Grupo
        <select #groupID>
                <option *ngFor="let grupo of grupos" [value]="grupo.grupoID">{{grupo.nombre}}</option> 
        </select>
    </label>
    <br>
    <input [owlDateTimeTrigger]="finicio" [owlDateTime]="finicio" placeholder="Fecha Inicio" readonly>
    <owl-date-time [pickerType]="'calendar'" #finicio></owl-date-time>
    <input [owlDateTimeTrigger]="hinicio" [owlDateTime]="hinicio" placeholder="Hora Inicio" readonly>
    <owl-date-time [pickerType]="'timer'" #hinicio></owl-date-time>
    <br>
    <input [owlDateTimeTrigger]="ffin" [owlDateTime]="ffin" placeholder="Fecha Fin" readonly>
    <owl-date-time [pickerType]="'calendar'" #ffin></owl-date-time>
    <input [owlDateTimeTrigger]="hfin" [owlDateTime]="hfin" placeholder="Hora Fin" readonly>
    <owl-date-time [pickerType]="'timer'" #hfin></owl-date-time>
    <br>
    <button (click)="register(matID.value,groupID.value,finicio._selected,hinicio._selected,ffin._selected,hfin._selected)" >Registrar</button>
</div>
<br>
<div>
    <button (click)="edit()" >Editar Asignacion</button>
</div>