h1{
    margin-left: 50px;
    color: dodgerblue;
}

h2{
    margin-left: 50px;
    color: dodgerblue;
}

div.formulario{
    margin: 20px 0px 75px 75px;
    height: 315px;
    width: 230px;
    background-color: DodgerBlue;
    border: 5px solid navy;
    display: inline-block;
}

button.center{
    margin-top: 5px;
    margin-left: 60px;
    background-color: navy;
    border: solid white;
    color: white;
}

input.color{
    margin: 5px 5px 0px 5px;
    background-color: DodgerBlue ;
    color: white;
    border: solid white;
}

button.edit{
    position: absolute;
    left: 400px;
    top: 75px;
    height: 100px;
    width: 120px;
    font-size: 25px;
    background-color: navy;
    border: solid white;
    color: white;
}

button:hover{
    background-color: RoyalBlue;
}

::placeholder { /* Firefox, Chrome, Opera */ 
    color: white; 
} 

::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
    background-color: white !important;
    color: white !important
}
  
::ng-deep .mat-form-field-empty.mat-form-field-label {
    color: white;
}

input.calendar{
    color: white;
    margin-left: 5px;
}
