#registers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#registers td, #registers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#registers tr:nth-child(even){background-color: #f2f2f2;}

#registers tr:hover {background-color: #ddd;}

#registers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: dodgerblue;
  color: white;
}

h1{
    margin-left: 50px;
    color: dodgerblue;
}

h2{
    margin-left: 50px;
    color: dodgerblue;
}

div.formulario{
    margin: 20px 0px 75px 50px;
    height: 260px;
    width: 400px;
    background-color: DodgerBlue;
    border: 5px solid navy;
    display: inline-block;
}

button.center{
    margin-top: 5px;
    margin-left: 100px;
    background-color: navy;
    border: solid white;
    color: white;
}

button.export{
    margin: 10px 50px 0px 10px;
    height: 50px;
    width: 180px;
    font-size: 20px;
    background-color: navy;
    border: solid white;
    color: white;
}

button.st{
  margin-left: 10px;
  background-color: dodgerblue;
  border: solid navy;
  color: white;
}

input.theme{
    margin: 5px 5px 0px 5px;
    background-color: DodgerBlue ;
    color: white;
    border: solid white;
}

input.search{
    width: 300px;
    color: white;
}

.searchw{
    width: 300px;
}

label.theme{
    color: white;
    margin-left: 5px;
}

select.theme{
    background-color: navy;
    color: white;
}

button:hover{
    background-color: RoyalBlue;
}

select:hover{
    background-color: RoyalBlue;
}

::placeholder {
    color: white; 
} 

::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
    background-color: white !important;
    color: white !important
}
  
::ng-deep .mat-form-field-empty.mat-form-field-label {
    color: white;
}

input.calendar{
    color: white;
    margin-left: 5px;
}