<app-nav-bar></app-nav-bar>
<h1>Editar Usuario</h1>
<h2>Datos del Usuario</h2>
<div>
    <input type="text" #username value = {{user.codigo}} placeholder="Codigo Usuario">
    <br>
    <label>Is Admin</label>
    <input type="checkbox" [(ngModel)]="user.isAdmin" >
    <br>
    <input type="text" #name value = {{user.nombre}} placeholder="Nombre">
    <br>
    <input type="text" #lastNameP value = {{user.apellidoP}} placeholder="Apellido Paterno">
    <br>
    <input type="text" #lastNameM value = {{user.apellidoM}} placeholder="Apellido Materno">
    <br>
    <button (click)="edit(username.value,name.value,lastNameP.value,lastNameM.value)" >Editar</button>
</div>