<app-nav-bar></app-nav-bar>
<h1>Registrar Usuario</h1>
<h2>Datos del Profesor</h2>
<div>
    <input type="text" #username placeholder="Codigo Usuario">
    <br>
    <input type="password" #password placeholder="Password">
    <br>
    <label>Is Admin</label>
    <input type="checkbox" [(ngModel)]="isadmin" >
    <br>
    <input type="text" #name placeholder="Nombre">
    <br>
    <input type="text" #lastNameP placeholder="Apellido Paterno">
    <br>
    <input type="text" #lastNameM placeholder="Apellido Materno">
    <br>
    <button (click)="register(username.value,password.value,name.value,lastNameP.value,lastNameM.value)" >Registrar</button>
</div>
