<body>
    <app-menu-bar></app-menu-bar>
    <h1>Registrar Entrada</h1>
    <div class="login">
        <form>
            <input class="color" type="text" #username placeholder="Username" required>
            <input class="color" type="password" #password placeholder="Password" required>
            <button class="center" type="reset" (click)="register(username.value, password.value)">Registrar</button>
        </form>

    </div>
    <div class="camera">
        <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
            *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions" [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"></webcam>
    </div>
    <img src="../../assets/logo.jpeg">
</body>