<app-nav-bar></app-nav-bar>
<h1>Editar Asinancion</h1>
<h2>Datos de Asignacion Actual</h2>

<table id="registers">
    <tr>
        <th>Profesor</th>
        <th>Grupo</th>
        <th>Materia</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Horario</th>
    </tr>
    <tr *ngFor="let asignacion of this.oAsig">
        <td>{{asignacion.pName}} {{asignacion.apellidoP}}</td>
        <td>{{asignacion.grupo}}</td>
        <td>{{asignacion.materia}}</td>
        <td>{{asignacion.fechaInicio.substr(0,10)}}</td>
        <td>{{asignacion.fechaFin.substr(0,10)}}</td>
        <td>{{asignacion.horaInicio.substr(0,5)}}-{{asignacion.horaFin.substr(0,5)}}</td>
    </tr>
</table>

<br>
<h3>Datos A cambiar</h3>
<h5>Antes de enviar el formulario debes llenar todos los datos correspondientes que se encuentran en la tabla en el formulario para evitar errores</h5>
<div class="formulario">
    <label class="theme">Profesor:
        <mat-form-field class="searchw">
            <input class="search" type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option}}</mat-option>
        </mat-autocomplete>
    </label>
    <br>
    <label class="theme">Materia:
        <select class="theme" #matID>
            <option *ngFor="let materia of materias" [value]="materia.materiaID">{{materia.nombre}}</option>
        </select>
    </label>
    <br>
    <label class="theme">Grupo
        <select class="theme" #groupID>
            <option *ngFor="let grupo of grupos" [value]="grupo.grupoID">{{grupo.nombre}}</option>
        </select>
    </label>
    <br>
    <label class="theme">Grupo Abierto:
        <input type="checkbox" value="true" [(ngModel)]="isActive">
    </label>
    <br>

    <mat-form-field>
        <input class="calendar" matInput [matDatepicker]="fini" placeholder="Fecha Inicio" [(ngModel)]="fi"
            [ngModelOptions]="{standalone: true}">
        <mat-datepicker-toggle matSuffix [for]="fini"></mat-datepicker-toggle>
        <mat-datepicker #fini></mat-datepicker>
    </mat-form-field>
    <input type="time" class="theme" value="08:00" #hi>
    <br>
    <mat-form-field>
        <input class="calendar" matInput [matDatepicker]="ffin" placeholder="Fecha Fin" [(ngModel)]="ff"
            [ngModelOptions]="{standalone: true}">
        <mat-datepicker-toggle matSuffix [for]="ffin"></mat-datepicker-toggle>
        <mat-datepicker #ffin></mat-datepicker>
    </mat-form-field>
    <input type="time" class="theme" value="08:00" #hf>

    <button class="center"
        (click)="register(matID.value,groupID.value,hi.value,hf.value)">Editar</button>
</div>