<app-nav-bar></app-nav-bar>
<br>
<table id="registers">
    <tr>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Editar</th>
        <th>Password</th>
    </tr>
    <tr *ngFor="let user of this.users">
        <td>{{user.nombre}} {{user.apellidoP}} {{user.apellidoM}}</td>
        <td #selected>{{user.usuario}}</td>
        <td #selected2 style="display:none;">{{user.usuarioID}}</td>
        <td><button class="st" (click)="edit(selected.innerText)" >Editar</button></td>
        <td><button class="st" (click)="editpwd(selected.innerText)" >Cambiar</button>
            <button class="st" (click)="reset(selected2.innerText)" >Resetear</button></td>
    </tr>
</table>